/** CSS STYLE **/
:root {
  --primary: #fe8a02;
  --primary-hover: #ea7600;
  --primary-dark: #42413c;
  --light: #f5f4f0;
  --dark: #2a2626;
  --dark-semitransparent: #908d8b;
  --white: #fff;
  --white-semitransparent: #d7ccc0;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  margin: 0;

  color: var(--dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  margin-top: 0;

  font-weight: normal;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

h4 {
  font-size: 14px;
  line-height: 1.2em;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.cols-2 {
  column-count: 2;
  column-gap: 30px;
}

.cols-2 p {
  margin-top: 0;
  break-inside: avoid;
}

.colspan-all {
  column-span: all;
}

.float-left {
  float: left;
  margin-right: 30px;
}

.float-right {
  float: right;
  margin-left: 30px;
}

.color-primary {
  color: var(--primary);
}

.breadcrumb {
  color: var(--dark-semitransparent);
  font-size: 24px;
  font-family: Neucha, cursive;
  text-decoration: none;
}

.section {
  position: relative;
  z-index: 0;

  padding: 100px 0;
}

.section::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.section .color-primary {
  color: var(--primary);
}

.section-header::after {
  display: table;

  clear: both;

  content: "";
}

.section-header img {
  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.section-header p {
  font-size: 34px;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

.section-hr {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 10px;

  color: var(--white);
  font-weight: bold;
  font-size: 14px;
  font-family: "Open Sans", sans-serif;
  text-transform: uppercase;

  background-color: var(--brown);
}

main .section:nth-child(1)::before,
main .section:nth-child(2)::before {
  display: none;
}

.section:nth-child(2n + 4) {
  color: var(--white);

  background-color: var(--brown);
}

.section:nth-child(2n + 4) .breadcrumb {
  color: var(--white-semitransparent);
}

.section:nth-child(2n + 4) .section-hr {
  color: var(--brown);

  background-color: var(--white);
}

.lh-1 {
  line-height: 1em;
}

.hero {
  overflow: hidden;
}

.hero h1 {
  margin-bottom: 185px;

  column-span: all;
}

.hero img {
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: -1;

  width: auto;
  height: 525px;
}

.hero p:first-of-type {
  margin-bottom: 35px;
}

.button {
  display: inline-block;

  padding: 12px 24px;

  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--primary);
}

.button:hover {
  background-color: var(--primary-hover);
}

.about {
  z-index: 1;

  padding-bottom: 469px;

  text-align: center;

  background-color: var(--white);
}

.about h2 {
  margin-bottom: 30px;
}

.video {
  position: absolute;
  bottom: -100px;
  left: 50%;
  z-index: 10;

  transform: translateX(-50%);

  filter: drop-shadow(0 16px 32px rgb(0 0 0 / 15%));
}

.navigation {
  padding-top: 200px;
  padding-bottom: 80px;

  color: var(--white);

  background-color: var(--dark);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-item {
  width: 350px;
  margin-bottom: 20px;
}

.flex-item > *:first-child {
  margin-top: 0;
}

.flex-item > *:last-child {
  margin-bottom: 0;
}

.navigation h2 {
  font-size: 52px;
}

.navigation h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.navigation-link {
  box-sizing: border-box;
  padding: 24px;

  color: var(--dark);
  text-decoration: none;

  background-color: var(--white);
}

.navigation-link:hover {
  color: var(--white);

  background-color: var(--primary);
}

.navigation-link:hover .color-primary {
  color: var(--white);
}

.navigation-number {
  margin-bottom: 40px;

  font-size: 64px;
  font-family: Neucha, cursive;
  line-height: 1em;
}
