/** CSS STYLE **/
:root {
  --primary: #fe8a02;
  --primary-hover: #ea7600;
  --primary-dark: #42413c;
  --light: #f5f4f0;
  --dark: #2a2626;
  --dark-semitransparent: #908d8b;
  --white: #fff;
  --white-semitransparent: #d7ccc0;
  --brown: #b09a81;
  --blue: #1085c5;
}

body {
  margin: 0;

  color: var(--dark);
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  margin-top: 0;

  font-weight: normal;
  font-family: Neucha, cursive;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  max-width: 1110px;
  margin: 0 auto;
}

.columns-2 {
  column-count: 2;
}

.section {
  position: relative;

  padding: 100px 0;
}

.section::before {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  width: 100%;
  height: 100%;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;

  opacity: 0.1;

  content: "";
}

.color-primary {
  color: var(--primary);
}

.lh-1 {
  line-height: 1em;
}

.hero {
  overflow: hidden;
}

.hero h1 {
  margin-bottom: 185px;

  column-span: all;
}

.hero img {
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: -1;

  width: auto;
  height: 525px;
}

.hero p {
  margin-top: 0;
}

.hero p:first-of-type {
  margin-bottom: 90px;
}

.button {
  display: inline-block;

  padding: 12px 24px;

  color: var(--white);
  font-weight: bold;
  text-transform: uppercase;
  text-decoration: none;

  background-color: var(--primary);
}

.button:hover {
  background-color: var(--primary-hover);
}

.about {
  padding-bottom: 469px;

  text-align: center;

  background-color: var(--white);
}

.about h2 {
  margin-bottom: 30px;
}

.video {
  position: absolute;
  left: 50%;
  bottom: -100px;
  z-index: 10;

  transform: translateX(-50%);

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.navigation {
  padding-top: 200px;
  padding-bottom: 80px;

  background-color: var(--dark);

  color: var(--white);
}

.flex {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.flex-item {
  width: 350px;
  margin-bottom: 20px;
}

.flex-item > *:first-child {
  margin-top: 0;
}

.flex-item > *:last-child {
  margin-bottom: 0;
}

.navigation h2 {
  font-size: 52px;
}

.navigation h3 {
  margin-top: 0;
  margin-bottom: 0;
}

.navigation-link {
  box-sizing: border-box;
  padding: 24px;

  background-color: var(--white);

  color: var(--dark);
  text-decoration: none;
}

.navigation-link:hover {
  background-color: var(--primary);

  color: var(--white);
}

.navigation-link:hover .color-primary {
  color: var(--white);
}

.navigation-number {
  margin-bottom: 40px;

  font-size: 64px;
  font-family: Neucha, cursive;
  line-height: 1em;
}
